<nav class="navbar">
    <ul class="navbar__list">
        <li class="navbar__item">
            <a class="navbar__link" routerLink="/dashboard" routerLinkActive="navbar__link--active">Dashboard</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" routerLink="/customer" routerLinkActive="navbar__link--active">Customer</a>
        </li>
        <li class="navbar__item">
            <a class="navbar__link" routerLink="/supplier" routerLinkActive="navbar__link--active">Supplier</a>
        </li>
    </ul>
</nav>
